@model Model.Entity.Chip

@{
    ViewBag.Title = "Obtener";
}

<h2>Obtener</h2>

<div>
    <h4>Chip</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Punk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Punk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Compañia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Compañia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
